input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], input[type=reset] {
  width: 20%;
  background-color: #41756b;
  color: white;
  padding: 14px 50px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover , input[type=reset]:hover{
  background-color: #41756b;
}

div {
  text-align: center;
  width:800px; margin:0 auto;
  border-radius: 50px;
  background-color: #f2f2f2;
  padding: 20px;
}
