<body>
<app-navbar></app-navbar>

<main >
  <div class="card" >
    <div class="card__title" >
      <button *ngIf="this.authenticationService.isDisabled()" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Product</button>

      <div class="icon">
        <a href="#"><i class="fa fa-arrow-left"></i></a>
      </div>
      <h3>New products</h3>

    </div>

    <div *ngFor = "let product of products$ | async">
    <div class="card__body">
      <div class="half">
        <div class="featured_text">
          <h2 i18n>{{product.category}}</h2>
          <p i18n class="sub">{{product.name}}</p>
          <p i18n class="price">${{product.price}}</p>
        </div>
        <div class="image">
          <img src="{{product.image}}" alt=""  width="300px">
        </div>
      </div>
    </div>
    <div class="card__footer">
      <div class="recommend">
        <p i18n>Recommended by</p>
        <h3 i18n>Online Shop ROMANIA</h3>
      </div>
      <div class="action">
        <a i18n><mat-icon-button type="button" routerLink="/productDetail/{{product.id}}">See details</mat-icon-button></a>
      </div>
    </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <mat-slider min="6" max="100" step="10" value="50"></mat-slider>
          <h5 class="modal-title" id="staticBackdropLabel">Product details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" formControlName="productName" class="form-control" required>
            </div>

            <div *ngIf="formValue.controls['productName']?.invalid && (formValue.controls['productName']?.dirty || formValue.controls['productName']?.touched)" class="alert alert-danger">
              <div *ngIf="formValue.controls['productName']?.errors?.['required']">
                Name is required.
              </div>
            </div>

            <div class="mb-3">
              <label i18n class="form-label">Product Category</label>
              <input type="text" formControlName="productCategory"  class="form-control">
            </div>
            <div class="mb-3">
              <label i18n class="form-label">Product Price</label>
              <input type="text" formControlName="productPrice"  class="form-control" required>
            </div>

            <div *ngIf="formValue.controls['productPrice']?.invalid && (formValue.controls['productPrice']?.dirty || formValue.controls['productPrice']?.touched)" class="alert alert-danger">
              <div i18n *ngIf="formValue.controls['productPrice']?.errors?.['required']">
                Price is required.
              </div>
            </div>

            <div class="mb-3">
              <label i18n class="form-label">Product Image</label>
              <input type="text" formControlName="productImage"  class="form-control">
            </div>
            <div class="mb-3">
              <label i18n class="form-label">Product Description</label>
              <input type="text" formControlName="productDescription"  class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button i18n mat-raised-button #ref type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button i18n mat-stroked-button type="button" (click)="postProductDetails()" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
