input[type=text], select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 30%;
  background-color: #41756b;
  color: white;
  padding: 14px 50px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #41756b;
}

div {
  text-align: center;
  width:800px;
  border-radius: 50px;
  background-color: #f2f2f2;
  padding: 20px;
}
